@model System.Collections.Generic.IEnumerable<Bookmarks.Project.ViewModel.BrowsersViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.Name)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Path)
       </th>
       <th>
           @Html.Label("", "Ýþlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.Name)
           </td>
           <td>
               @(item.Path)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { id = item.Id }) |
               @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
               @Html.ActionLink("Sil", "Delete", new { id = item.Id })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>